.modal {
    width: 90vw;
    margin: 10px auto;
}

.media {
    height: 300px,
}

.link {
    text-decoration: none;
    color: black;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .modal {
        width: 28%;
    }
}