.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.link {
    text-decoration: none;
    color: black;
    text-align: center
}

.link>span {
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    img {
        margin: 0 auto;
        width: 55vw
    }
}