.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.link {
    text-decoration: none;
    color: black;
    text-align: center
}

ul {
    list-style-type: none;
    padding: 0
}

@media screen and (max-width: 1024px) {
    h1 {
        text-align: center;
    }
    ul {
        padding: 0 20px
    }
}