.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 20px;
}

.featured-img {
    margin: 0 auto;
    width: 90vw
}

.link>span {
    margin: 0 auto;
}

.highlights-label {
    text-align: center;
}

.highlight {
    text-align: center;
}

@media screen and (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}