.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    .container {
        display: flex;
        flex-wrap: row wrap;
        justify-content: space-between;
    }
}